.container{
    width: 80%;
    margin: 0 auto;
}
header{
    background-color: rgb(32, 19, 2);
}
.logo{
    float: left;
    margin: 0;
    padding: 5px;
    width: 4rem;
    height: 4rem;
}
.globe{
    position: relative;
    height: 15rem;
    width: 15rem;
    align-self: flex-end;
}
nav{
    float: right;
}
header::after{
    content:'';
    display: table;
    clear: both;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    position: relative;
}
nav a{
    color: rgb(248, 48, 88);
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover{
    color: rgb(115, 100, 100);
}
nav a::before{
    content:'';
    display: block;
    height: 5px;
    width: 100%;
    background-color: rgba(100, 71, 231, 0.756);
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}
nav a:hover::before{
    width: 100%;
}

body {
    background-color: rgba(45, 44, 44, 0.416);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 {
    background: #FF0000;
    background: linear-gradient(to bottom right, #FF0000 0%, #4065DD 79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin:0;
    padding:1rem;
    font-size: 340%;
    text-align: center;
    text-transform: uppercase;
}

.intro{
    text-align: center;
}

.myTabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0px auto;
    padding: 20px;
    float: right;
}
.myTabs input[type="radio"]{
    display: none;
}
.myTabs label {
    padding: 25px;
    background:rgb(240, 236, 236);
    font-weight: bold;
    border:2px solid rgb(87, 85, 83);
}
.tabs {
    width: 100%;
    padding: 20px;
    background-color: rgb(87, 85, 83);
    order: 1;
    display: none;
}
.myTabs input[type="radio"]:checked + label + .tabs{
    display: block;
}
.myTabs input[type="radio"]:checked + label {
    background-color: rgba(100, 71, 231, 0.756);
}

.combo{
    display: flex;
}

.chickens{
    width: 400px;
    height: 300px;
    float: right;
    margin: 20px;
}
.garbage{
    float: left;
    margin: 20px;
}
.protest{
    width: 500px;
    height: 350px;
    float: right;
    margin: 20px;
}
.kurt{
    height: auto;
    width: 200px;
    margin: 20px;
}
.ovid{
    height: auto;
    width: 200px;
    margin: 20px;
}

.gandhi{
    height: auto;
    width: 200px;
    margin: 20px;
}
.nelson{
    height: auto;
    width: 200px;
    margin: 20px;
}
.dorothy{
    height: auto;
    width: 200px;
    margin: 20px;
}
.ralph{
    height: auto;
    width: 200px;
    margin: 20px;
}
.elie{
    height: auto;
    width: 200px;
    margin: 20px;
}
.maya{
    height: auto;
    width: 200px;
    margin: 20px;
}
.john{
    height: auto;
    width: 200px;
    margin: 20px;
}
.cobain{
    display: flex;
}
.ov{
    display: flex;
}
.mahatma{
    display: flex;
}
.mandela{
    display: flex;
}
.height{
    display: flex;
}
.nader{
    display: flex;
}
.wiesel{
    display: flex;
}
.angelou{
    display: flex;
}
.lewis{
    display: flex;
}
.even{
    columns: 2;
}